main{
    div{
        .jordan23{
            width: 100%;
            height: 350px;
        }
    }
    h2{
        @include TituloDos (40px 40px);
    }
    div{
        
        .color-formulario{
            background-color:black;
            color:white;
            height: 50%;
            width: 50%;
            padding: 15px;
            border-radius: 3%;
            border-style: double;
            
            
            
        
        }

        .btnform{
            background-size: 300%;
            background-image: linear-gradient(to left, #FF5733, #B81B57, #FF5733 );
            color: white;
            padding: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-radius: 8%;
            

            

        
        }
    }

}

