main {

    h1 {
        @extend %estiloTituloPrincipal;

    }

    div {

        .card {
            width: 27rem
        }

        div {
            .color-boton {
                background-color: $colorBoton;
                margin-left: 35%;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
                border-style:groove;
                border-radius: 10%;


            }
        }

    }
    div{
        .card-body{
            background-color: $colorCardBody;
        }
    }


     .row{
        display: flex;
        justify-content: space-around;
           
            h5{
             text-align: center;
            }
    
     }


   
}
