main {

    h1 {
        @extend %estiloTituloPrincipal;

    }

    div {

        .card {
            width: 27rem
        }

        div {
            .color-boton {
                
                border: 3px solid rgba(100,100,100,0.1);
                margin-bottom: 20px;
                padding: 20px;
                width: 300px;
                font-family: sans-serif;
                font-size: 16px;
                border-radius: 8px;
                cursor: pointer;
                color: #FFF;
                background-size: 300%;
                background-image: linear-gradient(to left, #FF5733, #B81B57, #FF5733 );



            }
        }

    }
    div{
        .card-body{
            background-color: $colorCardBody;
        }
    }


     .row{
        display: flex;
        justify-content: space-around;
           
            h5{
             text-align: center;
            }
    
     }


   
}
